.burger
  span
nav
  ul.main
    li
      a(href='#0') Home
    li
      a(href='#0') Shop
    li
      a(href='#0') About
    li
      a(href='#0') Contact
    li
      a(href='#0') Cart
  .about
    p
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
  .social
    a(href='#0' target='_blank')
    a(href='#0' target='_blank')
  ul.sub
    li
      a(href='#0') FAQ &amp; Shipping
    li
      a(href='#0') Terms &amp; Conditions
.overlay